code/emailAPI/src/test/resources/WsDirectvIVRService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-02/12/2016 11:10:24 PM foreman-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>-->
<xs:schema version="1.0" targetNamespace="http://co.com.computec.directvivr.ws/" xmlns:tns="http://co.com.computec.directvivr.ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="WSBusinessRuleException" nillable="true" type="tns:faultBean"/>

  <xs:element name="WSSystemException" nillable="true" type="tns:faultBean"/>

  <xs:element name="enviarDocumento" type="tns:enviarDocumento"/>

  <xs:element name="enviarDocumentoResponse" type="tns:enviarDocumentoResponse"/>

  <xs:complexType name="enviarDocumento">
    <xs:sequence>
      <xs:element name="datosConsulta" type="tns:datoConsultaDTO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="datoConsultaDTO">
    <xs:sequence>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
      <xs:element name="ibs" type="xs:string" minOccurs="0"/>
      <xs:element name="nombreAbonado" type="xs:string" minOccurs="0"/>
      <xs:element name="numFactura" type="xs:string" minOccurs="0"/>
      <xs:element name="plantilla" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="enviarDocumentoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="faultBean">
    <xs:sequence>
      <xs:element name="detail" type="xs:string" minOccurs="0"/>
      <xs:element name="faultcode" type="xs:string" minOccurs="0"/>
      <xs:element name="faultstring" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

